<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

	<test name="AutomationTestProject run on firefox">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
						<class name="automation.testsuite.Day18_BTVN" /> 

			<class name="automation.testsuite.Day18_BTVN2" /> 
	
		</classes>	
	</test> 
		<test name="Automation1TestProject run on firefox">
		<parameter name="browser" value="edge"></parameter>
		<classes>
					<class name="automation.testsuite.Day18_BTVN" /> 

			<class name="automation.testsuite.Day18_BTVN2" /> 
	
		</classes>	
	</test>
	
</suite> <!-- Suite -->